body {
    font-family: 'Sour Gummy', sans-serif;
    box-sizing: border-box;
    background-color: #f9f7ee;
    color: #414141;
    margin: 0;
}

h1 {
    font-size: 36px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 253, 247);
    top: 0px;
    position: sticky;
    box-shadow: 0px 2px 12px #c9c9c9;
    font-size: 20px;
}
header > a {
    font-family: 'Sour Gummy';
    text-decoration: none;
    font-weight: 600;
}
header > #menu-home {
    color: #ade2d7;
}
header > #menu-sobre {
    color: #add3f1;
}
header > #menu-formacao {
    color: #c7b5ef;
}
header > #menu-projetos {
    color: #efaad0;
}
header > #menu-contato {
    color: #f5c7a6;
}

main {
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
    height: 100vh;
}

section > h1 {
    font-family: 'Sour Gummy';
}

#home {
    margin-top: 25px;
}
#home > h4 {
    margin: 16px 0 8px;
}
#home > p {
    margin: 0;
}
#home > img {
    height: 400px;
}

#sobre > p {
    margin: 8px;
}


.projeto {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid #414141;
}
.projeto > h3 {
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 2px solid #414141;
}
.projeto > p {
    margin: 0;
    padding: 12px;
    border-bottom: 2px solid #414141;
}
.projeto .links {
    display: flex;
    gap: 32px;
    padding: 12px;

}
.links > a {
    color: #efaad0;
    text-decoration: none;
}

#contato {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contato > img {
    height: 24px;
}

.contato > a {
    color: #414141;
    font-size: 24px;
    text-decoration: none;
}

#home > h1 {
    color: #ade2d7;
}
#sobre > h1 {
    color: #add3f1;
}
#formacao > h1 {
    color: #c7b5ef;
}
#projetos > h1 {
    color: #efaad0;
}
#contato > h1 {
    color: #f5c7a6;
}